# .gitignore

# Jetbrains
.idea/
cmake-build-debug/
cmake-build-release

# VsCode
.vscode/
build/

# Libraries
libs/

# Python Testing
venv/
.pytest_cache/
tests/.pytest_cache
tests/__pycache__
tests/nestest/
tests/dump.bin

# Python Opcode Extraction
tools/.idea/
tools/__pycache__/
tools/dk.txt
tools/opcodeCount.txt
tools/processed.txt

# Nes Game Test ROMS
Excite_bike.nes
Super_mario_brothers.nes
dk.nes